@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
  font-family: Madimi One, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  display: grid;
  background: #222;
  place-content: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
